.about-desc {
  color: rgb(208, 208, 208);
  margin: 5%;
}

.about-desc {
  color: rgb(208, 208, 208);
  margin: 5%;
  padding-bottom: 5%;
}

.about-desc-quote {
  margin: 5%;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Courier New', Courier, monospace;
}

.about-title {
  color: rgb(208, 208, 208);
  padding-top: 2%;
}

.quote {
  margin: 5%;
  border: 1%;
  border-style: hidden;
  border-radius: 15px;
  background-color: grey;
}

.about-container {
  @media (min-width: 826px) {
    overflow: auto;
    width: 50%;
  }
  height: 100vh;

  @media (max-width: 825px) {
    width: 100%;
    height: fit-content;
  }
}

.about-page {
  background-color: rgb(64, 64, 64);
}

.about-grid {
  padding-top: 14px !important;
}
