.about-container {
  @media (min-width: 826px) {
    overflow: auto;
    width: 50%;
  }
  height: 100vh;

  @media (max-width: 825px) {
    width: 100%;
    height: fit-content;
  }
}

.about-page {
  background-color: rgb(224, 224, 224);
  min-height: 100vh;
  height: fit-content;
  min-width: 500px;
  @media (max-width: 500px) {
    overflow-x: auto;
  }
}

.about-grid {
  padding-top: 14px !important;
  min-width: 500px;
}

.about-desc-container {
  @media (max-width: 1000px) {
    padding-top: 3%;
  }
  @media (max-width: 825px) {
    padding-top: 5%;
  }
}

.about-title {
  margin: 2% 20%;
  font-size: large;
  text-align: justify;
  font-family: 'Trebuchet MS';
  @media (min-width: 1440px) {
    margin: 2% calc((100vw - 1000px) / 2);
  }
}
