.artists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: radial-gradient(#444, #333, #222, #111);
  padding-bottom: 5%;
}

.artist {
  flex-direction: row;
  width: 45%;
  min-width: 100px;
  margin-top: 5%;
}

.artist-image {
  border-radius: 2%;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.artist-modal {
  background: #171717;
  color: rgb(224, 224, 224);
}

.modal-description {
  background-color: #222;
  border-radius: 3%;
  border-style: solid;
  border-color: #888;
  border-width: 1px;
  padding-bottom: 5%;
  height: auto;
}

.artist-modal-description-container {
  width: 100%;
  min-width: 100px;
  text-align: justify;
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: medium;
}

.artist-modal-title {
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-top: 2%;
  text-decoration: underline;
}

.artist-modal-video-title {
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-decoration: underline;
  margin-bottom: 2%;
}

.modal-header-container {
  width: 100%;
  background: #000;
  margin-bottom: 3%;
}

.artist-embed {
  width: 100%;
  border: none;
}

.video-container {
  top: 0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  margin: 0;
}
.video-container iframe {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.artists-wrap {
  height: 100vh;
}

.artist-bg {
  background-image: url('../public/koga_fire.jpg');
  /* Add the blur effect */
  backdrop-filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}
.artist-label-wrap {
  height: 100vh;
}

.artist-label {
  color: #ddd;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  z-index: 100;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 52.8px;
  font-variant: small-caps;
}
