.artists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: radial-gradient(#444, #333, #222, #111);
}

.artist {
  flex-direction: row;
  width: 45%;
  min-width: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  margin-top: 5%;
}

.artist-image {
  width: 100%;
}

.artist-modal {
  background: #171717;
}

.modal-description {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #222;
  margin-bottom: 5%;
  border-radius: 3%;
  border-style: solid;
  border-color: #888;
  border-width: 1px;
}

.artist-modal-description-container {
  margin: auto;
  width: 100%;
  min-width: 100px;
  text-align: justify;
  font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: medium;
}

.artist-modal-title {
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-top: 2%;
  text-decoration: underline;
}

.modal-header-container {
  width: 100%;
  background: #000;
  margin-bottom: 5%;
}

.artist-embed {
  width: 80%;
  border: none;
}
