.artists {
  background-image: radial-gradient(#444, #333, #222, #111);
}
.artist {
  width: 33%;
  margin-left: 0.25vw;
  margin-top: 0.1vw;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}
