.center {
  text-align: center;
  margin: auto;
}

@mixin new-releases {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin background-image {
  /* Add the blur effect */
  backdrop-filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: large;
  margin: auto;
}

.navbar {
  width: 100%;
  background-color: #121212;
  height: fit-content !important;
  min-height: 64px;
}

.dark-theme-bg {
  background: #121212;
}

iframe {
  border: none;
}

.full-width {
  width: 100%;
}

.contact-desc {
  padding-top: 2%;
  margin: auto;
  font-size: 14px;
  width: 100%;
}

.contact-title {
  margin: 2% auto;
  font-size: large;
  font-family: 'Trebuchet MS';
}
