.footer {
  margin-top: auto;
  background-color: #121212;
  background-image: radial-gradient(#444, #333, #222, #111);
  color: #ddd;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.footer-content {
  width: 256px;
  margin: auto;
}
