.footer {
  margin-top: auto;
  color: #ddd;
  backdrop-filter: blur(4px);
  // background-color: #ddd;
  padding-top: 3vh;
  padding-bottom: 3vh;
  z-index: 100;
  position: relative;
}

.footer-content {
  width: 256px;
  margin: auto;
}

.merch-footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}
