@import './default.scss';

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.left-column {
  vertical-align: middle;
}

.grid-container {
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.new-releases {
  width: 100vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-releases-image {
  max-width: 90%;
  margin: auto;
}
