@import './default.scss';

.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: radial-gradient(#444, #333, #222, #111);
  flex-direction: column;
}

.home-body-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  vertical-align: middle;
}

.home-image-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  vertical-align: middle;
}

.left-column {
  vertical-align: middle;
}

.grid-container {
  width: 100%;
  text-align: center;
}

.upcoming-tracks {
  float: left;
  padding: 1%;
  width: 70%;
  height: fit-content;
  padding-top: 0%;
  padding-bottom: 1%;
  margin: auto;
}

.playlist {
  width: 30%;
  float: right;
  padding-right: 2%;
  padding-bottom: 1%;
  height: 100%;
}

.upcoming-release {
  margin: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.upcoming-card {
  height: fit-content;
}

.playlist-card {
  height: 100%;
}

.nightingale-container {
  @include new-releases();
}

.nightingale {
  @include background-image();
  background-image: url(../public/nightingale.jpg);
}

.antagonist-container {
  @include new-releases();
}
.antagonist {
  @include background-image();
  background-image: url(../public/antagonist-blurred.png);
}

.elevator-msc-container {
  @include new-releases();
}

.elevator-msc {
  @include background-image();
  background-image: url(../public/elevator.msc.png);
}

.tesla-container {
  @include new-releases();
}
.tesla {
  @include background-image();
  background-image: url(../public/tesla.png);
}

.baraku-container {
  @include new-releases();
}

.baraku {
  @include background-image();
  background-image: url(../public/baraku.jpeg);
}

.comemyway-container {
  @include new-releases();
}

.comemyway {
  @include background-image();
  background-image: url(../public/comemyway.jpg);
}

.benchmark-container {
  @include new-releases();
}

.benchmark {
  @include background-image();
  background-image: url(../public/benchmark.jpg);
}

.new-releases-header {
  margin: auto;
  width: 100%;
  text-align: center;
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  font-size: xx-large;
}

.new-releases-image {
  vertical-align: middle;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 5 !important;
}

.slick-dots {
  padding-top: 5%;
  display: flex;
  bottom: 0px;
  position: absolute;
  z-index: 10;
}

.slick-prev {
  left: 1%;
  z-index: 10;
}

.slick-next {
  right: 1%;
  z-index: 10;
}

.upcoming-text {
  position: absolute;
  top: 1.5%;
  z-index: 10;
  margin: auto;
  width: 100%;
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: x-large;
  text-align: center;
}
