@import './default.scss';

.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-body-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  vertical-align: middle;
}

.home-image-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  vertical-align: middle;
}

.left-column {
  vertical-align: middle;
}

.grid-container {
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.nightingale-container {
  @include new-releases();
}

.nightingale {
  @include background-image();
  background-image: url(../public/nightingale.jpg);
}

.antagonist-container {
  @include new-releases();
}
.antagonist {
  @include background-image();
  background-image: url(../public/antagonist-blurred.png);
}

.elevator-msc-container {
  @include new-releases();
}

.elevator-msc {
  @include background-image();
  background-image: url(../public/elevator.msc.png);
}

.tesla-container {
  @include new-releases();
}
.tesla {
  @include background-image();
  background-image: url(../public/tesla.png);
}

.baraku-container {
  @include new-releases();
}

.baraku {
  @include background-image();
  background-image: url(../public/baraku.jpeg);
}

.comemyway-container {
  @include new-releases();
}

.comemyway {
  @include background-image();
  background-image: url(../public/comemyway.jpg);
}

.benchmark-container {
  @include new-releases();
}

.benchmark {
  @include background-image();
  background-image: url(../public/benchmark.jpg);
}

.new-releases-header {
  margin: auto;
  width: 100%;
  text-align: center;
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  font-size: xx-large;
}

.new-releases-image {
  position: relative;
  top: 5vh;
  height: 90vh;
  width: fit-content;
  margin: auto;
  z-index: 5 !important;
}

.slick-dots {
  padding-top: 5%;
  display: flex;
  bottom: 0px;
  position: absolute;
  z-index: 10;
}

.slick-prev {
  left: 1%;
  z-index: 10;
}

.slick-next {
  right: 1%;
  z-index: 10;
}

.nav-links {
  position: absolute;
  top: 2%;
  z-index: 10;
  margin: auto;
  width: 100%;
  text-align: center;
}

.nav-link {
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: large;
  margin: auto;
}

.nav-link:hover {
  font-weight: 800;
  font-size: x-large;
  color: #ddd;
  transition: all 500ms;
}

.icons {
  top: -1.5vh;
}

.track-card {
  width: 100%;
}
