@import './default.scss';

.song-modal {
  margin: auto;
  width: 100%;
  background-color: black;
}

.song-modal-container {
  width: 100vw;
  min-height: max-content;
  min-width: fit-content;
  text-align: center;
  margin: auto;
}

.ui.modal {
  background-color: black !important;
}

.modal-image {
  margin: auto;
  width: 50%;
  height: auto;
}

.modal-image-container {
  width: 100%;
  background: black;
}
