.video-container {
  display: block;
  margin-bottom: 5%;
  margin-top: 5%;
}

.videos-container {
  min-height: 100vh;
  padding-bottom: 5%;
}

.video-image {
  width: 60%;
  text-align: left;
  margin: auto;
}

.videos-video-container {
}

.video-grid {
  padding: 2% !important;
  min-width: 400px !important;
  @media (min-width: 800px) {
  }
}
