.video-container {
  display: block;
  margin-bottom: 5%;
  margin-top: 5%;
}

.videos-container {
  min-height: 100vh;
  padding-bottom: 5%;
}

.video-image {
  width: 60%;
  text-align: left;
  margin: auto;
}

.videos-video-container {
}

.video-grid {
  padding: 2% !important;
  min-width: 400px !important;
  @media (min-width: 800px) {
  }
}

.video-label {
}

.video-label {
  margin: 2% auto;
  width: 100%;
  font-size: x-large;
  font-weight: 100;
  font-family: 'Trebuchet MS';
  color: #ddd;
}

.video-bg {
  height: max-content;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 3%;
  display: flex;
  background-image: radial-gradient(#444, #333, #222, #111);
  flex-direction: column;
}
